<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <connectionStrings>
        <add name="DiseñoConnectionString" connectionString="Data Source=SQL5011.Smarterasp.net;Initial Catalog=DB_9B1768_Base;Persist Security Info=True;User ID=DB_9B1768_Base_admin;Password=Berseke03"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />      
    <pages>      
      <controls><add tagPrefix="gmaps" namespace="Subgurim.Controles" assembly="GMaps" /></controls></pages></system.web>

<appSettings><!-- Add your Google Maps API Key from Google --><add key="googlemaps.subgurim.net" value="" /><!-- And add your Commercial Key from Subgurim if you have purchased one --><add key="googlemaps.subgurim.net_Commercial" value="" /></appSettings></configuration>
